<fieldset >
    <legend align = "center">Register Form</legend>
    <div class="row">
        <form [formGroup]="fgValidator" class="col s12" id="reg-form">
            <div class="row">
                <div class="input-field col s5">
                    <i class="material-icons prefix">account_circle</i>
                    <input formControlName ="name"  id="name" type="text" >
                    <label for="name">Name</label>
                    <div class="warning-validator" *ngIf="fgv.name.errors && (fgv.name.dirty || fgv.name.touched)">
                        <strong *ngIf = "fgv.name.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf = "fgv.name.errors.minlength">
                            This field must be at least {{nameMinLength}} long.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s5">
                    <i class="material-icons prefix">account_circle</i>
                    <input formControlName ="lastName" id="last_name"  type="text" >
                    <label for="last_name">Last Name</label>
                    <div class="warning-validator" *ngIf="fgv.lastName.errors && (fgv.lastName.dirty || fgv.lastName.touched)">
                        <strong *ngIf = "fgv.lastName.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf = "fgv.lastName.errors.minlength">
                            This field must be at least {{lastnameMinLength}} long.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s5">
                    <i class="material-icons prefix">assignment_ind</i>
                    <input formControlName ="document" id="document" type="text" >
                    <label for="document">Document</label>
                    <div class="warning-validator" *ngIf="fgv.document.errors && (fgv.document.dirty || fgv.document.touched)">
                        <strong *ngIf = "fgv.document.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf = "fgv.document.errors.minlength">
                            This field must be at least {{documentMinLength}} long.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s5">
                    <i class="material-icons prefix">phone_android</i>
                    <input formControlName ="phone" id="cellphone" type="text" >
                    <label for="cellphone">Cellphone</label>
                    <div class="warning-validator" *ngIf="fgv.phone.errors && (fgv.phone.dirty || fgv.phone.touched)">
                        <strong *ngIf = "fgv.phone.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf = "fgv.phone.errors.minlength">
                            This field must be at least {{numberMinLength}} long.
                        </strong>
                        <strong *ngIf = "fgv.phone.errors.maxlength">
                            This field must be maximum {{numberMaxLength}} long.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">location_city</i>
                    <input formControlName ="city" id="city" type="text" >
                    <label for="city">City</label>
                    <div class="warning-validator" *ngIf="fgv.city.errors && (fgv.city.dirty || fgv.city.touched)">
                        <strong *ngIf = "fgv.city.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf = "fgv.city.errors.minlength">
                            This field must be at least {{cityMinLength}} long.
                        </strong>
                    </div>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">map</i>
                    <input formControlName ="address" id="address" type="text" >
                    <label for="address">Address</label>
                    <div class="warning-validator" *ngIf="fgv.address.errors && (fgv.address.dirty || fgv.address.touched)">
                        <strong *ngIf = "fgv.address.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf = "fgv.address.errors.minlength">
                            This field must be at least {{addressMinLength}} long.
                        </strong>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s10">
                    <i class="material-icons prefix">email</i>
                    <input formControlName ="email" id="email" type="text" >
                    <label for="email">Email</label>
                    <div class="warning-validator" *ngIf="fgv.email.errors && (fgv.email.dirty || fgv.email.touched)">
                        <strong *ngIf = "fgv.email.errors.required">
                            This field is required.
                        </strong>
                        <strong *ngIf = "fgv.email.errors.email">
                            This field must be a correct email format.
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <button (click)="ClientRegisterFn()" class="btn btn-large btn-register waves-effect waves-light green" type="submit" name="action">Register
                        <i class="material-icons right">done</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</fieldset>